<%- include('layouts/header') %>

<section class="detalle-producto">
  <h2><%= producto.nombre %></h2>

  <img src="/images/<%= producto.imagen %>" alt="<%= producto.nombre %>" class="detalle-img">

  <p><strong>Precio:</strong> $<%= producto.precio %></p>
  <p><strong>Categoría:</strong> <%= producto.tipo %></p>

  <div class="botones-detalle">
  <button class="boton-comprar"
    onclick="agregarAlCarrito(<%= producto.id %>, '<%= producto.nombre %>', <%= producto.precio %>, '<%= producto.imagen %>')">
    Agregar al carrito
  </button>
  <a href="/productos" class="boton-volver">⬅ Volver al catálogo</a>
</div>

</section>

<%- include('layouts/footer') %>
